@include color-mode(dark) {
  .dark\:text-gray-500 {
    color: $gray-500 !important;
  }

  .dark\:table-dark {
    @extend .table-dark;
  }

  .dark\:bg-dark {
    @extend .bg-dark;
  }
}
.text-red-500 {
  // hoặc dùng hex
  color: #ff0000;
}